@import "vars";

.login-section {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-section .container-logo {
  margin-bottom: 48px;
}

.login-section .container-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.login-section .container-form .form {
  display: flex;
  flex-direction: column;
}

.login-section .container-form .form .label {
  display: flex;
  flex-direction: column;
}

.login-section .container-form .form .label span {
  margin-bottom: 4px;
  color: var(--black);
  font-size: var(--sm);
  font-weight: bold;
  line-height: var(--lg);
}

.login-section .container-form .form .label .input {
  height: 32px;
  padding: 12px;
  margin-bottom: 12px;
  border: none;
  border-radius: 8px;
  font-size: var(--md);
  font-weight: 400;
  line-height: 2rem;
  color: var(--text-input-field);
  background-color: var(--background-input-field);
}

.login-section .container-form .form input::placeholder {
  color: var(--text-input-field);
}

.login-section .container-form .form .label .input-email {
  margin-bottom: 22px;
}

.login-section .container-form .form .container-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-section .container-form .form .container-button .primary-button {
  width: 100%;
  min-width: 300px;
  height: 50px;
  border: none;
  border-radius: 8px;
  font-size: var(--md);
  font-weight: bold;
  line-height: 2.2rem;
  color: var(--white);
  background-color: var(--hospital-green);
  cursor: pointer;
}

.login-section .container-form .form .container-button .login-button {
  margin-top: 14px;
  margin-bottom: 30px;
}

.login-section .container-form .form .container-button a {
  font-size: var(--sm);
  font-weight: 500;
  line-height: var(--lg);
  text-align: center;
  text-decoration: none;
  color: var(--hospital-green);
}

.login-section .container-secondary-button {
  display: flex;
  justify-content: center;
}

.login-section .container-secondary-button .secondary-button {
  width: 100%;
  min-width: 300px;
  height: 50px;
  border: 1px solid var(--hospital-green);
  border-radius: 8px;
  font-size: var(--md);
  font-weight: bold;
  line-height: 2.2rem;
  color: var(--hospital-green);
  background-color: var(--white);
  cursor: pointer;
}

.login-section .container-secondary-button {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 40vh;
}

.guest-btn {
    width: 200px;
    height: 60px;
    font-size: 1.8rem;
}

@media (min-width: 800px) {
  .login-section .container-logo {
    display: none;
  }

  .login-section {
    height: 80vh;
  }

  .login-section .container-secondary-button {
    display: flex;
    justify-content: center;
    height: 52px;
    margin-top: 52px;
  }
}
